<!DOCTYPE html>
<html lang="{{ locale }}">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="icon" type="image/x-icon" href="/favicon.ico">

    <meta name="theme-color" content="#ffffff">
    <meta name="csrf-token" content="{{ token }}">
    <title>{{ title }}</title>
    {{ vite('resources/js/login.js') | raw }}
    {{ vite('resources/js/main.js') | raw }}
    {% for script in scripts %}
        {{ app(script) | raw }}
    {% endfor %}
    {# {{ vite('apps/mail/resources/js/mail.js') | raw }}
    {{ vite('apps/settings/resources/js/settings.js') | raw }} #}
</head>
<body>
{% block app %}
    <div id="app"></div>
{% endblock %}
</body>
</html>
