{% extends 'app.twig' %}
{% block app %}
	{% if isAuthenticated %}
		<div class="page">
			<div id="header"></div>
			<div class="page-wrapper">
				<div class="page-sidebar">
					<div class="menu">
						{% for item in menu %}
							{% if item.showInMenu %}
								<div class="menu-item">
									<a href="/apps/{{ item.name | lower }}"
									   class="{{ currentRoute == '/apps/' ~ item.name | lower ? 'active' : '' }}">
										<img src="/files/apps/{{ item.name | lower }}/img/{{ item.name | lower }}.svg"/>
										<div class="menu-tooltip">
											{{ t(item.name) }}
										</div>
									</a>
								</div>
							{% endif %}
						{% endfor %}
					</div>
				</div>
				<div class="page-content">
					{{ application | raw }}
				</div>
			</div>
		</div>
	{% endif %}
{% endblock %}